@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  /* background: navy; */
  line-height: 1.6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/bg.png");
  background-size: cover;
}

h2 {
  font-size: 32px;
}

.panel {
  border-radius: 16px;
  padding: 32px;
  background: rgba(255 255 255 / 10%);
  border: 6px solid rgba(255 255 255 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
  width: 800px;
}

.panel .inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

main h1 {
  font-size: 96px;
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
}

main p {
  text-align: center;
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.leaderboard {
  width: 1000px;
}

.leaderboard .header,
.round .header {
  display: flex;
  justify-content: space-between;
}

.leaderboard ul li {
  list-style-type: none;
  padding: 8px;
  border-radius: 8px;
  background: rgba(0 0 0 / 20%);
}

.leaderboard-item.yourself {
  background: #fff;
  color: #000;
}

.round {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background: rgba(255 255 255 / 20%);
  border: 2px solid rgba(255 255 255 / 50%);
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  height: 61px;
  padding: 16px;
  transition: 120ms ease-out;
}

input::placeholder {
  color: rgba(255 255 255 / 50%);
}

input:hover {
  border-color: rgba(255 255 255 / 80%);
}

input:focus {
  outline: 4px solid #fff;
  outline-offset: -4px;
}

.buttons {
  display: flex;
  gap: 24px;
}

.buttons button.back {
  width: fit-content !important;
}

.buttons button:last-child {
  width: 100% !important;
}

.start h2 {
  font-size: 48px;
  text-align: center;
}

button {
  border: none;
}

button:focus-visible {
  outline: 4px solid #0ad6a1;
  outline-offset: 4px;
}

button.secondary:focus-visible {
  outline: 4px solid #fff;
  outline-offset: 4px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.error-text {
  color: #ff5d5d;
}

.lobby {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.lobby .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  align-items: flex-start;
}

.lobby .right {
  align-items: flex-start;
  justify-content: space-between;
}

.lobby .player {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  width: 100%;
  background: rgba(0 0 0 / 20%);
}

.lobby .yourself {
  background: #fff;
}

.lobby .waiting p {
  font-style: italic;
  opacity: 50%;
}

.lobby .yourself p {
  color: #000;
}

.lobby .player-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.start .panel .top {
  display: flex;
  flex-direction: column;
}

.inner h2 {
  text-align: center;
}
