@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  /* background: navy; */
  line-height: 1.6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/bg.png");
  background-size: cover;
}

h2 {
  font-size: 40px;
}

.panel {
  border-radius: 32px;
  padding: 32px;
  border: 6px solid rgba(255 255 255 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  align-items: center;
  width: 800px;
  background: linear-gradient(
    122.54deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(153, 153, 153, 0.1) 100%
  );
  backdrop-filter: blur(4px);
}

.panel .inner {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

main h1 {
  font-size: 96px;
  font-family: "Cherry Cream Soda", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

main p {
  text-align: center;
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.leaderboard {
  width: 1000px;
}

.leaderboard .header,
.round .header {
  display: flex;
  justify-content: space-between;
}

.leaderboard ul li {
  list-style-type: none;
  padding: 8px;
  border-radius: 8px;
  background: rgba(0 0 0 / 20%);
}

.leaderboard-item.yourself {
  background: #fff;
  color: #000;
}

.round {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background: rgba(255 255 255 / 20%);
  border: 2px solid rgba(255 255 255 / 50%);
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  height: 55px;
  padding: 16px;
  transition: 120ms ease-out;
  box-shadow: inset 4px 4px 8px rgb(0 0 0 / 10%),
    inset -4px -4px 8px rgba(255 255 255 / 3%);
}

input::placeholder {
  color: rgba(255 255 255 / 50%);
}

input:hover {
  border-color: rgba(255 255 255 / 80%);
}

input:focus {
  outline: 3px solid #fff;
  outline-offset: -3px;
}

.buttons {
  display: flex;
  gap: 24px;
}

.buttons.row {
  flex-direction: row;
  width: 100%;
}

.buttons.row button:not(.back) {
  flex: 1;
}

.buttons button.back {
  width: fit-content !important;
}

.buttons button:last-child {
  width: 100% !important;
}

.start h2 {
  font-size: 48px;
  text-align: center;
}

button {
  border: none;
}

button:focus-visible {
  outline: 4px solid #0ad6a1;
  outline-offset: 4px;
}

button.secondary:focus-visible {
  outline: 4px solid #fff;
  outline-offset: 4px;
}

button.tertiary:focus-visible {
  outline: 4px solid #fff;
  outline-offset: 4px;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.lobby {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.lobby .left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  align-items: flex-start;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 600px;
  justify-content: flex-start;
}

.lobby .right {
  align-items: flex-start;
  justify-content: space-between;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 600px;
}

.lobby .player {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  width: 100%;
  background: rgba(0 0 0 / 20%);
}

.lobby .yourself {
  background: #fff;
}

.lobby .waiting p {
  font-style: italic;
  opacity: 50%;
}

.lobby .yourself p {
  color: #000;
}

.lobby .player-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.panel .top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.inner h2 {
  text-align: center;
}

.panel .top h2 {
  text-align: center;
}

.panel.yPadding {
  padding-top: 64px;
  padding-bottom: 64px;
  height: 600px;
}

.panel .code-wrapper {
  width: 300px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel .code {
  font-size: 48px;
  width: 100%;
  padding: 8px 32px;
  background: #fff;
  color: #2b5d8e;
  font-weight: bold;
  letter-spacing: 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  justify-content: center;
}

.panel .code-wrapper button {
  width: 100%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.panel .copy-btn {
  width: 100%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.round {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.round .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.round .header p {
  font-size: 20px;
}

.round .header .time {
  padding: 4px 6px;
  border-radius: 8px;
  background: #fff;
  color: #000;
}

.round .header .slash {
  opacity: 50%;
}

.round .panel {
  width: 100%;
  position: relative;
}

.round .panel p {
  font-size: 28px;
  font-family: "Cherry Cream Soda", system-ui;
}

.round .panel::before {
  content: '"';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 150px;
  opacity: 20%;
  font-family: "Cherry Cream Soda", system-ui;
}

.round .panel::after {
  content: '"';
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 150px;
  opacity: 20%;
  font-family: "Cherry Cream Soda", system-ui;
}

.round .option {
  width: 50%;
  height: 200px;
  border-radius: 16px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 6px 0 #a6a6a6;
  transition: 120ms ease-out;
  cursor: pointer;
}

.round .option:hover {
  box-shadow: 0 10px 0 #a6a6a6;
  transform: translateY(-4px);
}

.round .option:active {
  box-shadow: 0 4px 0 #a6a6a6;
  transform: translateY(2px);
}

.round .option.correct,
.round .option.correct:hover,
.round .option.correct:active {
  border: 2px solid #0ad6a1;
  box-shadow: 0 6px 0 #0ad6a1;
  transform: none;
}

.round .option.incorrect,
.round .option.incorrect:hover,
.round .option.incorrect:active {
  border: 2px solid #ff5d5d;
  box-shadow: 0 6px 0 #ff5d5d;
  transform: none;
}

.create .inner,
.join .inner {
  justify-content: space-between;
  height: 100%;
}

.unfilled {
  border: none;
  background-color: transparent !important;
  box-shadow: none !important;
  transform: none !important;
  padding: 12px;
  cursor: pointer;
  transition: 120ms ease-out;
}

.unfilled:hover {
  transform: scale(1.1) !important;
}

.unfilled:active {
  transform: scale(0.97) !important;
}

.unfilled svg {
  color: #fff;
}

.btn:not(.unfilled) {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  height: 55px;
  display: inline-block;
  cursor: pointer;
  transition: 120ms ease-out;
  border: none;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.btn:active {
  opacity: 0.8;
}

/* Primary variant */
.btn.primary {
  --bg: #0ad6a1;
  --shadow: #008462;
  --color: #000;
  background-color: var(--bg);
  color: var(--color);
  box-shadow: 0 6px 0 var(--shadow);
}

.btn.primary:hover {
  background-color: #0aeab0;
  box-shadow: 0 10px 0 var(--shadow);
  transform: translateY(-4px);
}

.btn.primary:active {
  box-shadow: 0 4px 0 var(--shadow);
  transform: translateY(2px);
}

/* Secondary variant */
.btn.secondary {
  --bg: #e7e7e7;
  --shadow: #a6a6a6;
  --color: #000;
  background-color: var(--bg);
  color: var(--color);
  box-shadow: 0 6px 0 var(--shadow);
}

.btn.secondary:hover {
  background-color: #ffffff;
  box-shadow: 0 10px 0 var(--shadow);
  transform: translateY(-4px);
}

.btn.secondary:active {
  box-shadow: 0 4px 0 var(--shadow);
  transform: translateY(2px);
}

/* Tertiary variant */
.btn.tertiary {
  --bg: #2b5d8e;
  --shadow: #082e53;
  --color: #fff;
  background-color: var(--bg);
  color: var(--color);
  box-shadow: 0 6px 0 var(--shadow);
}

.btn.tertiary:hover {
  background-color: #326aa1;
  box-shadow: 0 10px 0 var(--shadow);
  transform: translateY(-4px);
}

.btn.tertiary:active {
  box-shadow: 0 4px 0 var(--shadow);
  transform: translateY(2px);
}

/* Focus styles */
.btn:focus-visible {
  outline: 4px solid #0ad6a1;
  outline-offset: 4px;
}

.btn.secondary:focus-visible,
.btn.tertiary:focus-visible {
  outline: 4px solid #fff;
}

/* Disabled state */
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.panel .input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.error {
  padding: 6px 12px;
  border-radius: 8px;
  background: #ff5d5d26;
  border: 2px solid #ff5d5d;
  color: #ff5d5d;
}

.error p {
  font-size: 20px;
}

.player-count {
  font-size: 24px;
}

.tabs-container {
  position: relative;
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  padding: 4px;
  transition: 120ms ease-out;
}

.tabs-highlight {
  position: absolute;
  top: 4px;
  bottom: 0;
  background: #0ad6a1; /* green highlight */
  border-radius: 8px;
  transition: transform 0.35s cubic-bezier(0.25, 1.25, 0.5, 1);
  box-shadow: 0 6px 0 #007658;
  height: 50px;
  font-family: "Roboto", sans-serif;
}

.tab-button.active:hover ~ tabs-highlight {
  background-color: #0aeab0;
  box-shadow: 0 10px 0 #007658;
  transform: translateY(-4px);
}

.tabs-highlight:active {
  box-shadow: 0 4px 0 #007658;
  transform: translateY(2px);
}

.tab-button {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 12px 20px;
  height: 55px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  opacity: 0.5;
  transition: 120ms ease-out;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.tab-button:focus {
  outline: none !important;
}

.tab-button.active {
  color: #000;
  opacity: 1;
}

.tabs-container:focus-visible {
  outline: 4px solid #0ad6a1;
  outline-offset: 4px;
}
