@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: navy;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border-radius: 16px;
  padding: 64px;
  background: rgba(255 255 255 / 10%);
  border: 6px solid rgba(255 255 255 / 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

main h1 {
  font-size: 96px;
}

main p {
  text-align: center;
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 32px;
}

.leaderboard {
  width: 1000px;
}

.leaderboard .header,
.round .header {
  display: flex;
  justify-content: space-between;
}

.leaderboard ul li {
  list-style-type: none;
  padding: 8px;
  border-radius: 8px;
  background: rgba(0 0 0 / 20%);
}

.leaderboard-item.yourself {
  background: #fff;
  color: #000;
}

.round {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
